.cartContainer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;

    .orderDetailsBox{
        width: 100%;
        padding: 2.5rem;
    }

    .orderTitle{
        padding-bottom: 2rem;
        border-bottom-width: 1px;
        display: flex;
        justify-content: space-between;
    }

    .orderColumns{
        display: flex;
        margin-top: 2.5rem;
        margin-bottom: 1.25rem;
        font-weight: 600;
        text-align: center;
        color: rgb(75 85 99);
        font-size: 0.75rem;
        line-height: 1rem;
        text-transform: uppercase;
    }

   .longH3{
    width: 40%;
   }

   .smallH3{
    width: 20%;
   }
    .continue{
        display: none;
    }

    .summary{
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem
    }
}

@media (min-width: 640px) {
    .cartContainer {
        max-width: 640px;


        .continue{
            display: flex;
            font-weight: 600;
            color: royalblue;
            margin-right: 0.5rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
            margin-top: 2.5rem;
        

        }
    }

   
}
@media (min-width: 768px) {
    .cartContainer {
        max-width: 768px;
    }
}
@media (min-width: 1024px) {
    .cartContainer {
        max-width: 1024px;
        display:  flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        .orderDetailsBox{
            min-width: 800px;
        }

        .summary{
            width: 25%;
        }
        
    }
}
@media (min-width: 1280px) {
    .cartContainer {
        max-width: 1280px;
        width: 100%;
    }
}
@media (min-width: 1536px) {
    .cartContainer {
        max-width: 1536px;
        width: 100%; 
    }
}