.featuredProducts{

    padding-top: 2rem;
    padding-bottom: 2rem;

    h1{
        text-align: center;
        font-size: 2rem;
        padding-bottom: 2rem;
        font-weight: 700;
    }

    .filterBox{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 3rem;
    }

    .paginationBox{
        width: 50%;
        margin: 2rem auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .pageNumber{
        
         z-index: 10;
         display: inline-flex;
         align-items: center;
         border: 1px solid rgb(99 102 241);
         background-color: rgb(238 242 255);
         padding-left: 1rem;
         padding-right: 1rem;
         padding-top: 0.5rem;
         padding-bottom: 0.5rem;
         font-size: 0.875rem;
         line-height: 1.25rem;
         font-weight: 500;
         color: rgb(79 70 229);
         margin-right: 5px;
    }
    .pageNumber:hover{
       
        transform: scale(1.05);
    }
}