.registerContainer{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .registerBox{
      width: 100%;
      margin: auto;
      display: flex;
      flex: 1 1 0%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px .5rem;
    }

    .registerBtn{
        width: 100%;
        text-align: center;
        padding: 0.75rem 0px;
        border-radius: 0.25rem;
        background-color: green;
        color: white;
    }

    .registerBtn:hover{
        background-color: darkgreen;
        outline: 2px solid transparent;
        margin: 0.25rem 0px;
    }

    .registerBtn:focus{

    }
}


@media(min-width:640px){
     .registerContainer{

        .registerBox{
            max-width: 640px;
        }
     }
}


@media(min-width:768px){
    .registerContainer{
        .registerBox{
            max-width: 768px;
        }
    }
}