.registerContainer{
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    display: grid;
    position: relative;

    .registerBox{
      width: 100%;
      max-width: 500px;
      margin: auto;
      display: flex;
      flex: 1 1 0%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px .5rem;
    }

    .registerBtn{
        width: 100%;
        text-align: center;
        padding: 0.75rem 0px;
        border-radius: 0.25rem;
        background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        color: white;
    }

    .registerBtn:hover{
        background-color: darkgreen;
        
    }


    .registerInputBox{
        background-color: white;
        padding: 2rem 1.5rem;
        border-radius: .25rem;
        width: 100%;
        color: black;
    }

    .policyBox{
        font-size: .9rem;
        line-height: 1.25rem;
        margin-top: 1rem;
        color: darkgray;
        text-align: center;
    }

    .policyBox a{
        margin: 0px 4px;
    }

    .accBox{
        margin-top: 1.5rem;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .accBox a{
        margin-left: 5px;
    }

    .accBox a:hover{
        color: blue;
        font-size: 1rem;
        cursor: pointer;
    }

    .adress{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .adress input{
        width: 45%;
        margin: .5rem;
    }

    .adress select{
        width: 45%;
        margin: .5rem;
    }

    .alerts{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 50%;
        min-width: 484px;
        margin: auto;
        // border: 2px solid red;
        // top: 15%;
        right: .5rem;
        animation: alert linear .7s 1;
    }

    .alertMsg{
        margin: .25rem 0px;
        width: 100%;
    }

    .none{
        display: none;
    }
}


@media(min-width:640px){
     .registerContainer{

        .registerBox{
            max-width: 500px;
        }
     }
}


@media(min-width:768px){
    .registerContainer{
        .registerBox{
            max-width: 500px;
        }
    }
}

@media(min-width:1000px){
    .registerContainer{

        .alerts{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            width: 20%;
            position: absolute;
       
            top: 15%;
            right: .5rem;
            animation: alert linear .7s 1;
        }
    
        .alertMsg{
            margin: .25rem 0px;
            width: 100%;
        }

    }
}


@keyframes alert{

    0%{
        transform: translateX(300px);
        opacity: 0;
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}